body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  display: block;
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  z-index: -10;
}

.flex {
  display: flex;
  gap: 10px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-items: center;
}
.card {
  height: 300px;
  width: 400px;
  background-color: white;
  padding: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 3px solid blue;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 3px solid blue;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: green;
}
