<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forgot-password.css">
</head>

<body>
    <div class="card">
        <h4>Reset Password for <%= email %>
        </h4>
        <form action="" method="post" class="flex-col">
            <div class="flex">
                <label for="password">password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="flex">
                <label for="password2">confirm password</label>
                <input type="password" name="password2" id="password2" />
            </div>

            <input type="submit" value="reset password" />
        </form>
    </div>
</body>

</html>