/* Custom styles for Slick dots */
.slick-dots {
  bottom: -10px;
}

.slick-dots li button {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background-color: #ccc;
}

.slick-slider .slick-slide {
  padding: 0 5px;
}

@media (max-width: 640px) {
  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}

.slick-dots li.slick-active button {
  background-color: #b33d53;
}

.slick-list {
 overflow: hidden;
}

.slick-slide.slick-cloned {
  display: none;
}



